absl-py
aniso8601
astunparse
attrs
audioread
birdnetlib
blinker
certifi
cffi
charset-normalizer
clic
colorama
contourpy
cycler
decorator
Flask
flask-cors
flask-restx
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
importlib_resources
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
msgpack
namex
numba
numpy
opt_einsum
optree
packaging
pillow
platformdirs
pooch
protobuf
pycparser
pydub
Pygments
pyparsing
pytesseract
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
six
soundfile
soxr
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
typing_extensions
urllib3
watchdog
Werkzeug
wheel
wrapt
