flask==2.3.3
flask-cors==4.0.0
flask-restx
requests==2.31.0
python-dotenv==1.0.0
watchdog==2.1.9
birdnetlib==0.1.0
tensorflow==2.13.0
numpy==1.24.3
pydub==0.25.1
numba
llvmlite
werkzeug
librosa
soundfile
audioread